@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url("../../apple고딕/AppleSDGothicNeoB.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url("../../apple고딕/AppleSDGothicNeoM.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoH";
    src: url("../../apple고딕/AppleSDGothicNeoH.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoH";
    src: url("../../apple고딕/AppleSDGothicNeoH.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoSB";
    src: url("../../apple고딕/AppleSDGothicNeoSB.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

:root{
    --main-color: #6dcff6;
    --back-ground-color: #f5f5f5;
    --border-color: #cfcfcf;
    --btn-border-color: #ffffff;
    --prev-btn-color: #cccccc;
}

#wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 90%; /*1080px*/
    height: 100%; /*1920px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

.header{
    display: flex;
    width: 100%; /*1080 ÷ 1080*/
    height: 12.03125%; /*231 ÷ 1920*/ 
    background-color: var(--main-color);
}

.header > h1{
    display: flex;
    padding: 3.90625% 0 0 5.09259%;
    font-family: "GmarketSansMedium";
    font-weight: bold;
    font-size: 7.18rem; /*86.1pt*/
    margin: 0;
}

.greeting {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 100%;
    /*1080 ÷ 1080*/
    height: 7.5%;
    /*144 ÷ 1920*/
    background-color: var(--back-ground-color);
}

.greeting h1 {
    position: relative;
    left: 7.40740%;
    /*80 ÷ 1080*/
    top: 2.5%;
    /*48 ÷ 1920*/
    font-family: 'AppleSDGothicNeoSB';
    font-size: 40pt;
    font: bold;
}

.greeting h2 {
    position: relative;
    left: 8.33332%;
    top: 2.5%; /*48 ÷ 1920*/
    font-family: 'AppleSDGothicNeoM';
    font-size: 30pt;
    padding: 0px;
}

.selectContainer{
    display: flex;
    width: 100%; /*1080 ÷ 1080*/
    height: 69.16666%; /*1328 ÷ 1920*/
    background-color: var(--back-ground-color);
}

.select{
    display: grid;
    width: 100%; /*1080 ÷ 1080*/
    height: 69.16666%; /*1328 ÷ 1920*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3.51851%; /*38 ÷ 1080*/
    grid-row-gap: 3.01204%; /*40 ÷ 1920*/
    margin-top: 10.84337%; /*144 ÷ 1328*/
    margin-left: 5.37037%; /*58 ÷ 1080*/
    margin-right: 5.37037%;
}

.select > *{
    border-radius: 60px;
    background-color: var(--main-color);
    border: 0;
}

.div1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.div2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.div3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.div4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}