@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url("../../apple고딕/AppleSDGothicNeoB.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url("../../apple고딕/AppleSDGothicNeoM.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoH";
    src: url("../../apple고딕/AppleSDGothicNeoH.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoH";
    src: url("../../apple고딕/AppleSDGothicNeoH.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: "AppleSDGothicNeoSB";
    src: url("../../apple고딕/AppleSDGothicNeoSB.ttf") format("truetype");
    font-style: normal;
    font-style: normal;
}

:root{
    --main-color: #6dcff6;
    --back-ground-color: #f5f5f5;
    --border-color: #cfcfcf;
    --btn-border-color: #ffffff;
    --prev-btn-color: #cccccc;
    --nav-bar-color: #acacac;
}
/*default 화면 비율 : 9:16 */
/*Extra small devices (phones, 600px and down)*/
@media screen and (max-width: 600px) { 
    /*header , footer 10%씩 줄여봄*/
    #wrapper {
            display: flex;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #container {
            width: 90%;
            /*600px*/
            height: 100%;
            /*1066.67px*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    
        .header {
            display: flex;
            width: 100%;
            /*600 ÷ 600*/
            height: 11.65618%;
            /*231 ÷ 1066.67*/
            background-color: var(--main-color);
        }
    
        .header>h1 {
            display: flex;
            padding-left: 9.16666%; /*75 0 0 55*/
            height: 100%;
            align-items: center;
            font-family: "GmarketSansMedium";
            font-weight: bold;
            font-size: 8.33333vmin;
            /*463 ÷ 5 * 100 ÷ 1080 단위 vw로 변경*/
            margin: 0;
        }
    
        .greeting {
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
            width: 100%;
            /*600 ÷ 600*/
            height: 13.49995%;
            /*144 ÷ 1066.67*/
            background-color: var(--back-ground-color);
        }
    
        .greeting h1 {
            position: relative;
            left: 13.33333%;
            /*80 ÷ 600*/
            top: 4.49998%;
            /*48 ÷ 1920*/
            font-family: 'AppleSDGothicNeoSB';
            font-size: 2.96222vh; /*단위 vh로 변경*/
            font: bold;
        }
    
        .greeting h2 {
            position: relative;
            left: 15%;
            top: 4.49998%;
            /*48 ÷ 1920*/
            font-family: 'AppleSDGothicNeoM';
            font-size: 1.96222vh; /*단위 vh로 변경*/
            padding: 0px;
        }
    
        .selectContainer {
            display: flex;
            width: 100%;
            /*600 ÷ 600*/
            height: 64.5314%;
            /*(100-13.49995-31.96865)*/
            background-color: var(--back-ground-color);
        }
    
        .select {
            display: grid;
            width: 100%;
            /*1080 ÷ 1080*/
            height: 86.50005%;
            /*1328 ÷ 1920*/
            grid-template-rows: 1fr 1fr;

            grid-column-gap: 3.51851%;
            /*38 ÷ 1080*/
            grid-row-gap: 3.01204%;
            /*40 ÷ 1920*/
            margin-left: 5.37037%;
            /*58 ÷ 1080*/
            margin-right: 5.37037%;
        }
    
        .select>* {
            display: flex;
            justify-content: center;
            max-width: 42.6851%;
            aspect-ratio: 1/1;
            border-radius: 10%;
            background-color: var(--main-color);
            border: 0;
        }

           
        .div1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .div2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    
        .div3 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    
        .div4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .footer{ 
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 21.96865%;
            background-color: white;
            border-top-color: var(--border-color);
            border-top-width: 1px;
        }

        .img_container {
            display: flex;
            width: 9.25925vw;
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }

        .img_container h1 {
            font-family: 'AppleSDGothicNeoM';
            font-size: 2.96222vh;
        }
}
/*Small devices (portrait tablets and large phones, 600px and up)*/
@media screen and (min-width: 600px) {
    /*header , footer 10%씩 줄여봄*/
        #wrapper {
            display: flex;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #container {
            width: 90%;
            /*600px*/
            height: 100%;
            /*1066.67px*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    
        .header {
            display: flex;
            width: 100%;
            /*600 ÷ 600*/
            height: 11.65618%;
            /*231 ÷ 1066.67*/
            background-color: var(--main-color);
            justify-content: flex-start;
            align-content: center;
        }
    
        .header>h1 {
            display: flex;
            padding-left: 9.16666%;
            /*75 0 0 55*/
            height: 100%;
            align-items: center;
            font-family: "GmarketSansMedium";
            font-weight: bold;
            font-size: 8.33333vmin;
            /*463 ÷ 5 * 100 ÷ 1080 단위 vw로 변경*/
            margin: 0;
        }
    
        .greeting {
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
            width: 100%;
            /*600 ÷ 600*/
            height: 13.49995%;
            /*144 ÷ 1066.67*/
            background-color: var(--back-ground-color);
        }
    
        .greeting h1 {
            position: relative;
            left: 13.33333%;
            /*80 ÷ 600*/
            top: 4.49998%;
            /*48 ÷ 1066.67*/
            font-family: 'AppleSDGothicNeoSB';
            font-size: 2.96222vh;
            /*단위 vh로 변경*/
            font: bold;
        }
    
        .greeting h2 {
            position: relative;
            left: 15%; /*90 ÷ 600*/
            top: 4.49998%;
            /*48 ÷ 1066.67*/
            font-family: 'AppleSDGothicNeoM';
            font-size: 1.96222vh;
            /*단위 vh로 변경*/
            padding: 0px;
        }
    
        .selectContainer {
            display: flex;
            width: 100%;
            /*600 ÷ 600*/
            height: 64.5314%;
            /*(100-13.49995-31.96865)*/
            background-color: var(--back-ground-color);
        }
    
        .select {
            display: grid;
            width: 100%;
            /*600 ÷ 600*/
            height: 86.50005%;
            /*922.67008 ÷ 1066.67*/
            grid-template-rows: 1fr 1fr;

            grid-column-gap: 3.51851%;
            /*38 ÷ 1080*/
            grid-row-gap: 3.01204%;
            /*40 ÷ 1920*/
            margin-left: 5.37037%;
            /*58 ÷ 1080*/
            margin-right: 5.37037%;
        }
    
        .select>* {
            display: flex;
            justify-content: center;
            max-width: 42.6851%;
            aspect-ratio: 1/1;
            border-radius: 10%;
            background-color: var(--main-color);
            border: 0;
        }
    
        .div1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .div2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    
        .div3 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    
        .div4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    
        .footer {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 21.96865%;
            background-color: white;
            border-top-color: var(--border-color);
            border-top-width: 1px;
        }

        .img_container {
            display: flex;
            width: 9.25925vw;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            
        }
        
        .img_container h1 {
            font-family: 'AppleSDGothicNeoM';
            font-size: 2.96222vh;
        }
}
/*Medium devices (landscape tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    #wrapper {
            display: flex;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #container {
            width: 90%;
            /*768px*/
            height: 100%;
            /*1365.33px*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    
        .header {
            display: flex;
            width: 100%;
            /*768 ÷ 768*/
            height: 16.91898%;
            /*231 ÷ 1365.33*/
            background-color: var(--main-color);
            justify-content: flex-start;
            align-content: center;
        }
    
        .header>h1 {
            display: flex;
            padding-left: 7.16145%;
            height: 100%;
            align-items: center;
            font-family: "GmarketSansMedium";
            font-weight: bold;
            font-size: 8.33333vmin;
            /*463 ÷ 5 * 100 ÷ 1080 단위 vw로 변경*/
            margin: 0;
        }
    
        .greeting {
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
            width: 100%;
            /*1080 ÷ 768*/
            height: 10.54690%;
            /*144 ÷ 1365.33*/
            background-color: var(--back-ground-color);
        }
    
        .greeting h1 {
            position: relative;
            left: 10.41666%;
            /*80 ÷ 768*/
            top: 3.51563%;
            /*48 ÷ 1365.33*/
            font-family: 'AppleSDGothicNeoSB';
            font-size: 2.96222vh;
            /*단위 vh로 변경*/
            font: bold;
        }
    
        .greeting h2 {
            position: relative;
            left: 11.71875%;
            top: 3.51563%;
            /*48 ÷ 1365.33*/
            font-family: 'AppleSDGothicNeoM';
            font-size: 1.96222vh;
            /*단위 vh로 변경*/
            padding: 0px;
        }
    
        .selectContainer {
            display: flex;
            width: 100%;
            /*1080 ÷ 1080*/
            height: 58.10538%;
            /*100-16.91898*/
            background-color: var(--back-ground-color);
        }
    
        .select {
            display: grid;
            width: 100%;
            /*1080 ÷ 1080*/
            height: 86.50005%;
            /*922.67008 ÷ 1365.33*/
            grid-template-rows: 1fr 1fr;

            grid-column-gap: 3.51851%;
            /*38 ÷ 1080*/
            grid-row-gap: 3.01204%;
            /*40 ÷ 1920*/
            margin-left: 5.37037%;
            /*58 ÷ 1080*/
            margin-right: 5.37037%;
        }
    
        .select>* {
            display: flex;
            justify-content: center;
            max-width: 42.6851%;
            aspect-ratio: 1/1;
            border-radius: 7.8125%;
            background-color: var(--main-color);
            border: 0;
        }
    
        .div1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .div2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    
        .div3 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    
        .div4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .footer{ 
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 24.97564%;
            background-color: white;
            border-top-color: var(--border-color);
            border-top-width: 1px;
        }
        .img_container {
            display: flex;
            width: 9.25925vw;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            
        }

        .img_container h1 {
            font-family: 'AppleSDGothicNeoM';
            font-size: 2.96222vh;
        }
}
/*Large devices (laptops/destops, 992px and up)*/
@media screen and (min-width: 992px) {
    #wrapper {
            display: flex;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #container {
            width: 90%;
            /*992px*/
            height: 100%;
            /*1762.67px*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    
        .header {
            display: flex;
            width: 100%;
            /*992 ÷ 992*/
            height: 13.10511%;
            /*231 ÷ 1762.67*/
            background-color: var(--main-color);
            justify-content: flex-start;
            align-content: center;
        }
    
        .header>h1 {
            display: flex;
            padding-left: 5.54435%;
            /*75 0 0 55*/
            height: 100%;
            align-items: center;
            font-family: "GmarketSansMedium";
            font-weight: bold;
            font-size: 8.33333vmin;
            /*86.1pt*/
            margin: 0;
        }
    
        .greeting {
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
            width: 100%;
            /*992 ÷ 992*/
            height: 8.16942%;
            /*144 ÷ 1762.67*/
            background-color: var(--back-ground-color);
        }
    
        .greeting h1 {
            position: relative;
            left: 7.40740%;
            /*80 ÷ 992*/
            top: 2.72314%;
            /*48 ÷ 1762.67*/
            font-family: 'AppleSDGothicNeoSB';
            font-size: 2.96222vh;
            font: bold;
        }
    
        .greeting h2 {
            position: relative;
            left: 9.07258%;
            top: 2.72314%;
            /*48 ÷ 1762.67*/
            font-family: 'AppleSDGothicNeoM';
            font-size: 1.96222vh;
            padding: 0px;
        }
    
        .selectContainer {
            display: flex;
            width: 100%;
            /*992 ÷ 992*/
            height: 69.16666%;
            /*1328 ÷ 1920*/
            background-color: var(--back-ground-color);
        }
    
        .select {
            display: grid;
            width: 100%;
            /*992 ÷ 992*/
            height: 86.50005%;
            /*1328 ÷ 1920*/
            grid-template-rows: 1fr 1fr;
            
            grid-column-gap: 3.51851%;
            /*38 ÷ 1080*/
            grid-row-gap: 3.01204%;
            /*40 ÷ 1920*/
            margin-left: 5.37037%;
            /*58 ÷ 1080*/
            margin-right: 5.37037%;
        }
    
        .select>* {
            display: flex;
            justify-content: center;
            max-width: 42.6851%;
            aspect-ratio: 1/1;
            border-radius: 6.04838%;
            background-color: var(--main-color);
            border: 0;
        }
    
        .div1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .div2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    
        .div3 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    
        .div4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .footer{ 
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 19.34565%;
            background-color: white;
            border-top-width: 1px;
            border-top-color: var(--border-color);
        }

        .img_container {
            display: flex;
            width: 9.25925vw;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            
        }

        .img_container h1 {
            font-family: 'AppleSDGothicNeoM';
            font-size: 2.96222vh;
        }
}
/*Extra Large devices (large laptops and desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
    #wrapper {
            display: flex;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #container {
            width: 90%;
            /*1200px*/
            height: 100%;
            /*2133.33px*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    
        .header {
            display: flex;
            width: 100%;
            /*1200 ÷ 1200*/
            height: 10.82814%;
            /*231 ÷ 2133.33*/
            background-color: var(--main-color);
            justify-content: flex-start;
            align-content: center;
        }
    
        .header>h1 {
            display: flex;
            padding-left: 4.58333%;
            height: 100%;
            align-items: center;
            font-family: "GmarketSansMedium";
            font-weight: bold;
            font-size: 8.33333vmin;
            /*86.1pt*/
            margin: 0;
        }
    
        .greeting {
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
            width: 100%;
            /*1200 ÷ 1200*/
            height: 6.75001%;
            /*144 ÷ 2133.33*/
            background-color: var(--back-ground-color);
        }
    
        .greeting h1 {
            position: relative;
            left: 6.66666%;
            /*80 ÷ 1200*/
            top: 2.25000%;
            /*48 ÷ 2133.33*/
            font-family: 'AppleSDGothicNeoSB';
            font-size: 2.96222vh;
            font: bold;
        }
    
        .greeting h2 {
            position: relative;
            left: 7.5%;
            /*90 ÷ 1200*/
            top: 2.25000%;
            /*48 ÷ 2133.33*/
            font-family: 'AppleSDGothicNeoM';
            font-size: 1.96222vh;
            padding: 0px;
        }
    
        .selectContainer {
            display: flex;
            width: 100%;
            /*1080 ÷ 1080*/
            height: 73.18747%;
            /*100-footer-header*/
            background-color: var(--back-ground-color);
        }
    
        .select {
            display: grid;
            width: 100%;
            /*1200 ÷ 1200*/
            height: 86.50005%;
            /*1328 ÷ 1920*/
            grid-template-rows: 1fr 1fr;
            
            grid-column-gap: 3.51851%;
            /*38 ÷ 1080*/
            grid-row-gap: 3.01204%;
            /*40 ÷ 1920*/
            margin-left: 5.37037%;
            /*58 ÷ 1080*/
            margin-right: 5.37037%;
        }
    
        .select>* {
            display: flex;
            justify-content: center;
            max-width: 42.6851%;
            aspect-ratio: 1/1;
            border-radius: 5%;
            background-color: var(--main-color);
            border: 0;
        }
    
        .div1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .div2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    
        .div3 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    
        .div4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .footer{ 
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 15.98439%;
            background-color: white;
            border-top-color: var(--border-color);
            border-top-width: 1px;
        }
        .img_container {
            display: flex;
            width: 9.25925vw;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            
        }

        .img_container img{
            display: flex;
            width: 9.25925%;
        }
    
        .img_container h1 {
            font-family: 'AppleSDGothicNeoM'; 
            font-size: 2.96222vh;
        }
}